* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
ul{
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
    background-color:chartreuse;
    border-color: indianred;
    border-style: ridge;
}
li{
    display: inline-block;
}
li a {
    display: Block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: darkgreen;
    color: aliceblue;
}
.ul2{
    display: table;
    color: aliceblue;



}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;


}
.header {
    background-size: cover;
    background-image: url("Katzen.jpg");
    background-repeat: no-repeat;
    color: chartreuse;
    padding: 140px;
    overflow: hidden;
    text-align: center;

}
.header2{
    background-image: url("Geige.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: brown;
    padding: 140px;
    color: indianred;
    overflow: hidden;
    text-align: center;
    border: none;
}
.header3{
    background-image: url("Storys&Draws.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 140px;
    border: none;
    color: darkslategray;
    overflow: hidden;
    text-align: center;
}
.header4{
    background-image: url("GamePad.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 140px;
    border: none;
    color: darkslategray;
    overflow: hidden;
    text-align: center;
}

.h2{
    color: white;

}
.h3{
    color: black;
}

.h4{
    color: snow;
    text-align: center;
}

.column {
    background-image: url("Schiffenen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: chartreuse;
    float: left;
    width: 33%;
    padding: 10px;
    height: 500px;
    border-left: ActiveBorder;
}
.secondColumn{
    background-image: url("Schilthorn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    float: left;
    width: 33%;
    padding: 10px;
    border-left: black;
    height: 500px;
}

.thirdcolumn{
    background-color: black;
    float: left;
    width: 33%;
    padding: 10px;
    height: 500px;
    color: navajowhite;
}
.MusikColumn{
    background-image: url("Basses.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    float: left;
    padding: 10px;
    height: 500px;
    color: gainsboro;
}
.MusikColumntwo{
    background-image: url("Keyboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: darkslategray;
    width: 50%;
    float: left;
    height: 500px;
    padding: 10px;
}

.StoryColumn{
    background-image: url("20201218_081748.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    width: 50%;
    float: left;
    height: 500px;
    padding: 10px;
}
.DrawingColumn{
    background-image: url("20201218_081227.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    color: darkgreen;
    float: left;
    height: 500px;
    padding: 10px;
}
.GameColumn{
    background-image: url("chess.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    color: darkgreen;
    float: left;
    height: 500px;
    padding: 10px;
}
.GameColumn2{
    background-image: url("SpaceTunnel.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    color: darkgreen;
    float: left;
    height: 500px;
    padding: 10px;
}
.footer {
    border-style: ridge;
    border-color: indianred;
    border-radius: 5px;
    align-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color:chartreuse;
}


@media (max-width: 480px) {
    .header{
        width: 100%;
    }
    .column {
        width: 100%;
    }
    .secondColumn{
        width: 100%
    }
    .thirdcolumn{
        width: 100%;
    }
    .DrawingColumn{
        width: 100%;
    }
    .StoryColumn{
        width: 100%;
    }
    .MusikColumn{
        width: 100%;
    }
    .MusikColumntwo{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    ul{
        width: 100%
    }

}



